<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="bidon" value="rien"/>
  </appSettings>
  <connectionStrings>
    <add name="strCnx" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CCC_SONGS;User ID=CCC_website;pwd=croix;" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
</configuration>