body
{
    background-image: url(Images/Fonds/marbre.jpg);
}

.Entete
{
    background-color: #5050AA; 
    color: white; 
    font-weight: bold;
}

.GridItem
{
    color:navy; 
    background-color:White;
}

.AltGridItem
{
    color:navy; 
    background-color: #EEEEEE;
}

.Encadre
{
    border: solid 2px Silver;
}

.TabSelected
{
    color: navy;
    background-image: url(Images/marb.jpg); 
    font-size: 12pt; 
    font-weight:700;
    border: solid 2px Silver;
    border-bottom: solid 2px #EAEAFF;
}

.TabUnSelected
{
    /*
    background-color: #5050AA;
    */
    background: url(Images/glossyback3.jpg) bottom;
    cursor: pointer; 
    color: #F0F0FF;
    font-size: 12pt; 
    font-weight:700; 
    border: solid 2px Silver;
}

.TabUnSelected:hover
{
    background: url(Images/glossyback4.jpg) bottom;
    color: yellow;
    cursor: pointer; 
    font-size: 12pt; 
    font-weight:700; 
    border: solid 2px Silver;
}

.glossymenu{
margin: 0;
padding: 0;
width: 1px;
border: 1px solid #9A9A9A;
border-bottom-width: 0;
}

.glossymenu a
{
background: white url(Images/glossyback2.gif) bottom;
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
padding: 3px 10px 3px 10px;
text-decoration: none;
width: 80px;
cursor: pointer;
}

.glossymenu a:hover{
background: white url(Images/glossyback1.gif) bottom;
color: yellow;
}

.buttonX
{
    text-align: center;
    background: url(Images/buttonback.gif);
    height: 23px;
    font: bold 13px "Lucida Grande" , "Trebuchet MS" , Verdana, Helvetica, sans-serif;
    color: white;
    padding: 0px 4px 0px 4px;
    cursor: pointer;
    border-right: solid 1px navy;
    border-top: solid 1px navy;
    border-left: solid 1px navy;
    border-bottom: solid 1px navy;
}

.buttonX:hover
{
    text-align: center;
    background: url(Images/buttonback.gif);
    height: 23px;
    font: bold 13px "Lucida Grande" , "Trebuchet MS" , Verdana, Helvetica, sans-serif;
    color: white;
    padding: 10px 4px 10px 4px;
    cursor: pointer;
    border-right: solid 1px navy;
    border-top: solid 1px navy;
    border-left: solid 1px navy;
    border-bottom: solid 1px navy;
}

.button
{
    height: 21px;
    text-align: center;
    background: url(Images/glossyback3.jpg) bottom;
    font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    color: white;
    border: none;
    padding: 0px 4px 0px 4px;
    cursor: pointer;
}

.button:hover 
{
    text-align: center;
    background: url(Images/glossyback4.jpg) bottom;
    font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    color: yellow;
    border: none;
    padding: 0px 4px 0px 4px;
    cursor: pointer;
}

.button_hover 
{
    text-align: center;
    background: url(Images/glossyback4.jpg) bottom;
    font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    color: yellow;
    border: none;
    padding: 0px 4px 0px 4px;
    cursor: pointer;
}

