        .titre {
            text-align: center;
            font-size: x-large;
            font-weight: bold;
        }

        .sousTitre {
            text-align: center;
            font-size: large;
            font-weight: bold;
        }

        .titleTable {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }

        .songTable {
            border-spacing: 0;
            border-collapse: collapse;
        }

        .songTable td {
            border: 0;
            margin: 0;
            padding: 0;
        }

        .chords {
            color: blue;
            font-weight: bold;
            font-size: large;
        }

        .lyrics {
            font-style: inherit;
        }

        .chorus {
            background-color: lightgray;
        }

        .commentaire {
            background-color: black;
            color: white;
        }
